
 html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}

 body {
    background-color: green;
  }

  .container {
    background-color:#190033;
  }




    .titleView{ 
      font-size:5vw;
      text-align: center;
    }

